node_modules/
.expo/
dist/
.github/
web-build/
expo-env.d.ts
RUN-EVERYTHING.md
RUN-EVERYTHING.sh
SECURITY.md
.vscode/
setup-and-run.bat
start-everything.bat
start-everything.sh
start.sh
expo-env.d.ts
.env
utils/local-cli/
utils/.env
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
.env*.local
*.tsbuildinfo
app-example
/ios
/android
package.json
package-lock.json